/* npx tailwindcss -i ./src/index.css -o ./dist/output.css --watch */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-300;
}

@media print {
  .print-hidden {
    display: none !important;
  }

  .print-remove-styles {
    box-shadow: none !important;
    margin: 0 !important;
    padding: 0 !important;
    transform: scale(1) !important;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-in-right {
  animation: slideInRight 0.2s ease-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fading-out {
  animation: fadeOut 0.5s ease-out forwards;
}

.setting-button {
  @apply px-1 py-2 text-sm font-semibold bg-white text-slate-800 rounded-lg shadow-md flex items-center justify-center max-sm:scale-75;
}

.setting-title {
  @apply font-semibold text-slate-800 text-sm my-3 whitespace-pre-wrap;
}

.editable {
  @apply p-0.5 rounded-sm focus:outline-none focus:border-2 focus:border-gray-300;
}
