/* npx tailwindcss -i ./src/index.css -o ./dist/output.css --watch */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-300;
}

input::placeholder {
  @apply italic text-xs;
}

@media print {
  .print-hidden {
    display: none !important;
  }

  .print-remove-styles {
    box-shadow: none !important;
    margin: 0 !important;
    padding: 0 !important;
    transform: scale(1) !important;
  }
}

#setting-editor {
  background-color: #ffffff;
  height: 100vh;
  position: fixed;
  z-index: 20;
  top: 4rem;
  width: 26rem;
  overflow-y: auto;
  padding: 0.5rem 1rem;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 640px) {
  #setting-editor {
    height: 30vh;
    width: 100vw;
    top: auto;
    bottom: 0;
    border-top: 3px solid #ccc;
    border-radius: 1rem 1rem 0 0;
    transform: translateY(100%);
    opacity: 0;
    animation: slideUp 0.2s ease-out forwards;
  }
}

.setting-button {
  @apply fixed top-4 max-md:top-16 px-1 py-2 text-xs font-semibold bg-white text-slate-800 rounded-md shadow-md flex items-center justify-center max-sm:scale-75;
}

.setting-title {
  @apply font-semibold text-slate-800 text-sm max-sm:text-xs my-3 max-sm:w-32 whitespace-pre-wrap;
}

.editable {
  @apply p-0.5 rounded-sm focus:outline-none focus:border-2 focus:border-gray-300;
}

.message-container {
  @apply fixed top-16 max-sm:top-32 right-0 p-4 w-64;
}

.message-item {
  @apply flex items-center bg-white border border-gray-400 rounded-lg shadow-sm p-3 max-sm:p-2 mb-2 text-gray-800 text-sm max-sm:text-xs font-semibold;
}
